# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# VS Code / IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Alembic
alembic/versions/__pycache__/

# OS Files
.DS_Store
